# Swap files
*.swp
*.swo
session.*
.plugins.lock
*.sock
**/herdr/plugins/github/*

# Session files
Session.vim
lazy-lock.*
*tmp-install*
# Netrw / Directory checks
.netrwhist
# Logs
*.log

# Python cache (if you run python inside config folder)
__pycache__/
*.pyc

# Local machine specific data (optional, but good practice)
.DS_Store
