!requests.txt
!requirements.txt
**/herdr/plugins/github/*
*.bak
*.csv
*.env
*.json
*.json.tmp
*.key
*.keystore
*.log
*.orig
*.p12
*.pem
*.pyc
*.sock
*.spl
*.sq3
*.sug
*.swn
*.swo
*.swp
*.tmp
*.txt
*.undo
*.un~
*.url
*.xlsx
*credentials*
*secret*
*tmp-install*
*token*
*~
*~
.*.swn
.*.swo
.*.swp
.DS_Store
.codeium*
.netrc
.netrwhist
.plugins.lock
.venv/
Session.vim
__pycache__/
age/**
backup/**
codeium/**
containers/auth.json
doctl/**
env/
gcloud/**
gh/**
git/credentials
github-copilot/**
github/**
helm/**
id_ed25519*
id_rsa*
k9s/**
lazy-lock.*
lazy/**
my_secrets.*
op/**
pack/**
pip/pip.conf
plugged/**
plugins.json
rclone/**
secrets.*
session.*
sessions/**
shada/**
sops/**
spell/**
swap/**
token.*
undo/**
venv/
